<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <modules>
        <remove name="WebDAVModule" />
      </modules>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
        <remove name="WebDAV" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\ESD.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
      <security>
        <requestFiltering>
          <!--<verbs>
            <remove verb="OPTIONS" />
            <add verb="OPTIONS" allowed="true" />
          </verbs>-->
          <!--cho phép http request body tới 4GB-->
          <requestLimits maxAllowedContentLength="4294967295"  />
          <!--4GB-->
        </requestFiltering>
      </security>
      <httpProtocol>
        <!--<customHeaders>
          <add name="Access-Control-Allow-Origin" value="http://localhost:3001" />
          <add name="Access-Control-Allow-Credentials" value="false"/>
          <add name="Access-Control-Allow-Headers" value="Content-Type" />
          <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, OPTIONS" />
        </customHeaders>-->
      </httpProtocol>
      <!--<staticContent>
        <mimeMap fileExtension=".apk" mimeType="application/vnd.android.package-archive"/>
      </staticContent>-->
    </system.webServer>
  </location>

</configuration>
<!--ProjectGuid: 6d6ef0ef-a50d-4c30-b4bf-62105b6ebe6e-->